{% load bootstrap3 %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{%block title%}{%endblock%}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      body {
        font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
      }
    </style>
    {% block header %}
    {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">CA manager</a>
	</div>
	<ul class="nav navbar-nav">
	  <li><a href="{% url 'ca:list_key' %}">Keys</a></li>
	  <li><a href="{% url 'ca:list_cert' '' %}">Certs</a></li>
	</ul>
	{% block nav_left %}
	{% endblock %}
	<ul class="nav navbar-nav navbar-right">
	  {% block nav_right %}
	  {% endblock %}
	</ul>
      </div>
    </nav>

    {% bootstrap_messages %}

    <div class="container">
      {%block body%}
      {%endblock%}
    </div>
    
    {% block script %}
    {% endblock %}
  </body>
</html>
