{% extends 'ca/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}detail cert{% endblock %}

{% block body %}

<table class="table-striped table-condensed table-responsive">
  <tbody>
    <tr>
      <td>dgst</td>
      <td>{{obj.dgst}}</td>
    </tr>
    <tr>
      <td>sn</td>
      <td>{{obj.sn}}</td>
    </tr>
    <tr>
      <td>notbefore</td>
      <td>{{obj.notbefore}}</td>
    </tr>
    <tr>
      <td>notafter</td>
      <td>{{obj.notafter}}</td>
    </tr>
    <tr>
      <td>subject</td>
      <td>{{obj.sub}}</td>
    </tr>
    <tr>
      <td>common name</td>
      <td>{{obj.cn}}</td>
    </tr>
    <tr>
      <td>CA</td>
      <td>{{reader.ca}}</td>
    </tr>
    <tr>
      <td>subject keyid</td>
      <td>{{obj.keyid}}</td>
    </tr>
    <tr>
      <td>auth keyid</td>
      <td>{{reader.authkeyid}}</td>
    </tr>
    <tr>
      <td>extended key usage</td>
      <td>{{reader.extusage}}</td>
    </tr>
    <tr>
      <td>key usage</td>
      <td>{{reader.usage}}</td>
    </tr>
    <tr>
      <td>alternative</td>
      <td>{{obj.alternative}}</td>
    </tr>
    <tr>
      <td>key</td>
      <td>
	{% if obj.key %}
	<a href="{% url 'ca:detail_key' obj.key_id %}">
	  {{obj.key.dgst}}
	</a>
	{% endif %}
      </td>
    </tr>
    <tr>
      <td>chain</td>
      <td>
	{% for c in chain %}
	<div class="row">
	<a href="{% url 'ca:detail_cert' c.dgst %}" title="{{c.sub}}">
	  {{c.dgst}} {{c.cn}}
	</a>
	</div>
	{% endfor %}
      </td>
  </tbody>
</table>

{% render_table table %}

<div id="sign_req" class="modal fade" role="dialog">
  <form class="form-horizontal" action="{% url 'ca:sign_req' obj.dgst %}" method="POST" enctype="multipart/form-data">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">sign req</h4>
	</div>
	<div class="modal-body">
	  {% csrf_token %}
	  {% bootstrap_form formup layout="horizontal" %}
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block nav_right %}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Ops
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'ca:export_pem' obj.dgst %}">export pem</a></li>
    <li><a href="{% url 'ca:export_der' obj.dgst %}">export der</a></li>
    <li><a href="{% url 'ca:export_chain' obj.dgst %}">export chain</a></li>
    <li><a href="{% url 'ca:export_pkcs12' obj.dgst %}">export pkcs12</a></li>
    {% if obj.ca and obj.key %}
    <li><a data-toggle="modal" data-target="#sign_req">sign req</a></li>
    <li><a href="{% url 'ca:build_cert' obj.dgst %}">build cert</a></li>
    {% endif %}
    {% if obj.status == 0 %}
    <li><a href="{% url 'ca:revoke_cert' obj.dgst %}">revoke</a></li>
    {% endif %}
    {% if obj.status == 42 %}
    <li><a href="{% url 'ca:revoke_cert' obj.dgst %}">unrevoke</a></li>
    {% endif %}
  </ul>
</li>
{% endblock %}
