{% extends 'ca/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}list key{% endblock %}

{% block body %}
{% render_table tab %}
{% endblock %}

{% block nav_dropdown %}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Ops
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'ca:build_rsa' %}">build rsa</a></li>
    <li><a href="{% url 'ca:build_ec' %}">build ec</a></li>
    <li><a href="{% url 'ca:import_key' %}">import key</a></li>
  </ul>
</li>
{% endblock %}
