{% extends 'ca/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}list key{% endblock %}

{% block body %}

{% render_table table %}

<div id="build_rsa" class="modal fade" role="dialog">
  <form class="form-horizontal" action="{% url 'ca:build_rsa' %}" method="POST">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">build rsa</h4>
	</div>
	<div class="modal-body">
	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	  {% csrf_token %}
	  {% bootstrap_form formrsa layout="horizontal" %}
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </form>
</div>

<div id="build_ec" class="modal fade" role="dialog">
  <form class="form-horizontal" action="{% url 'ca:build_ec' %}" method="POST">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">build ec</h4>
	</div>
	<div class="modal-body">
	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	  {% csrf_token %}
	  {% bootstrap_form formec layout="horizontal" %}
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </form>
</div>

<div id="import_key" class="modal fade" role="dialog">
  <form class="form-horizontal" action="{% url 'ca:import_key' %}" method="POST" enctype="multipart/form-data">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">import key</h4>
	</div>
	<div class="modal-body">
	  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	  {% csrf_token %}
	  {% bootstrap_form formup layout="horizontal" %}
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block nav_left %}
{% if filter %}
<form action="" method="get" class="navbar-form navbar-left form-inline">
  <div class="input-group">
    {% bootstrap_form filter.form layout='inline' %}
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
{% endif %}
{% endblock %}

{% block nav_right %}
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Ops
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a data-toggle="modal" data-target="#build_rsa">build rsa</a></li>
    <li><a data-toggle="modal" data-target="#build_ec">build ec</a></li>
    <li><a data-toggle="modal" data-target="#import_key">import key</a></li>
  </ul>
</li>
{% endblock %}
